extends includes/layout
block main-content
    div(style="margin-top:100px;text-align:center")
        h1 Best online store, yay
        p This is a demo of how jade works. It sucks, but there's also teamwork to be done, so... :/ Enjoy the awesomeness of this site