extends includes/layout
block main-content
    div(style="margin:100px;text-align:center")
        h1 Smart phones
        small What you see is what you get
        br
        a(class="btn btn-primary") Give it to me right NOW!