extends includes/layout
block main-content
    div(style="margin:100px;text-align:center")
        h1 Tablets
        small Yeah, I know they're awesome...
        br
        a(class="btn btn-primary") I want to BUY it all!