extends includes/layout
block main-content
    div(style="margin:100px;text-align:center")
        h1 Wearables
        small Wanna buy them all, eh?
        br
        a(class="btn btn-primary") Buy the universe NOW!